<div>
    <%= link_to image_tag("pathfinder_logo.png", alt: "Pathfinder"), 'http://www.d20pfsrd.com', class: "center" %>

	<h1>Pathfinder App</h1>

	<h2>
		This is the home page for the Pathfinder App
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn" %>
</div>