/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: $grayMediumLight;
	padding: 5px;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	margin: 0 auto;
	padding-top: 50px;
	width: 1004px;
	font-family: helvetica;
}

section {
	overflow: auto;
}

a {
	text-decoration: none;
	color: white;
}

ul {
	list-style: none;
}

.btn {
	padding: 11px 19px;
	background: #006CCC;
	background-image: linear-gradient(to bottom, #0088CC, #0044CC);
	border: solid 1px #006CCC;
	border-radius: 10px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	font-size: 1em;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: white;
}

.center {
	margin: auto;
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

.drop {

}


/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: gray;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}


/* header */

header {
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	display: block;
	background: black;
	color: white;
	font-family: helvetica;
	text-align: center;
}

#logo {
	margin-top: 10px;
	float: left;
	margin-right: 10px;
	font-size: 1.3em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.3em;

	:hover {
		color: white;
		text-decoration: none;
	}
}

.navbar {
	width: 1004px;
	margin: auto;
	line-height: 1;
	clear: both;

	a {
		color: darkgray;

		&:hover {
			text-decoration: underline;
		}
	}

	ul {
		padding: 0;
		list-style-position: outside;
		float: right;

		ul {
			position: absolute;
			left: -9999px;
			background: black;
			text-align: center;

			li {
				margin: 20px;
				padding-top: 10px;
				float: none;
			}

			a {
				white-space: nowrap;
			}
		}

		li:hover {
			ul {
				left: -20px;

				a {
					text-decoration: none;
				}

				li a:hover {
					text-decoration: underline;
				}
			}

			a {
				text-decoration: underline;
			}
		}


	}

	li {
		position: relative;
		margin: 0 10px;
		text-align: center;
		display: inline;
		font-size: 1em;
	}
}

#nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background:#6b0c36;
text-decoration:underline;
	}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background:#333;
	}


/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	text-align: center;
	font-size: .8em;
	color: gray;

	small {
		float: left;
	}

	ul {
		margin: 0;
		padding: 0;
		float: right;
		list-style: none;

		li {
			float: left;
			margin-left: 10px;
		}
	}

	a {
		color: gray;
	}
}


/* main content */

#mainWrapper {

}

#homeWrapper {
	margin: 0 auto;
	padding: 20px;
	width: 964px;
	background: #EEEEEE;
	border-radius: 6px 6px 6px 6px;
	text-align: center;
}


/* forms */

.form {
	margin-left: 280px;
	display: inline-block;

	form {
		margin-bottom: 50px;
	}

	label {
		display: block;
		font-size: .9em;
	}

	input {
		margin: 2px 0 10px 0;
		padding: 3px;
		display: block;
		width: 450px;

		background-color: #FFFFFF;
		border: 1px solid #CCCCCC;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
		transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
		border-radius: 5px;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
		font-size: 1em;
	}
}


/* users index */

.users {
	margin: 0;

	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid #d0d0d0;

		&:last-child {
			border-bottom: 1px solid #d0d0d0;
		}

		a {
			color: #0088CC;


			&:hover {
				text-decoration: underline;
			}
		}
	}
}


/* pagination */

.pageLinks {
	margin: 20px 0;

	a {
		margin: 0;
		padding: 5px;
		color: #0088CC;
		border: 1px solid grey;
	}

	em {
		margin: 0;
		padding: 5px;
		color: grey;
		background: #eaeaea;
		border: 1px solid grey;
	}

	span {
		margin: 0;
		padding: 5px;
		border: 1px solid grey;
	}
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}


/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}